/* You can add global styles to this file, and also import other style files */
.hover-cursor{
    cursor: pointer;
}

.list-group-item {
    cursor: pointer;
}

#button {
 color:green;
}
#button:hover, button:focus{
    color: #ff6d0b;
    letter-spacing: 1.4px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.59);
}